@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}
*{
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1{
  font-family: var(--font-calistoga);
}
h2{
  font-family: var(--font-kanit);
}
.break-words {
  word-break: break-word;
  overflow-wrap: break-word;
}
